* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

.navbar {
    background-color: #0A6847;
    padding: 1em 0.5em;
    position: sticky;
    top: 0;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    list-style: none;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease;
}

.navbar ul li a:hover {
    color: #c8c8c8;
}

.navbar ul li a.active {
    color: #00ffa4;
    font-weight: medium;
}

.form-wrapper {
    width: 50%;
    margin: 5rem auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
    .form-wrapper {
        width: 80%;
    }
}

h3 {
    text-align: center;
    margin: 20px 0;
    font-size: 1.5rem;
}

#registrationForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}

#registrationForm .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#registrationForm .form-group.role {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 1em;
}

#registrationForm .form-group.role>div {
    display: flex;
    align-items: center;
    gap: 0.75em;
}

@media screen and (max-width: 768px) {
    #registrationForm .form-group.role {
        align-items: start;
        flex-direction: column;
    }

}

#registrationForm input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

#registrationForm label {
    font-weight: 500;
}

#registrationForm input[type="submit"] {
    width: 10rem;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    background-color: #0A6847;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#registrationForm input[type="submit"]:hover {
    background-color: #002f1e;
}



#usersContainer {
    width: 60%;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table,
th,
td {
    border: 1px solid #dddddd;
}

th,
td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

img {

    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 678px) {
    #usersContainer {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    #usersContainer {
        width: 80%;
    }
}

@media (max-width: 1480px) {
    #usersContainer {
        overflow-x: auto;
    }

    table {
        width: 100%;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    table,
    th,
    td {
        white-space: nowrap;
    }

    th,
    td {
        padding: 10px;
        text-align: left;
    }

    img {
        max-width: 80px;
        max-height: 80px;
    }
}


.profile {
    width: 40%;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile .user-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4em;
}

.profile .user-card img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.profile .user-card .user-info {
    width: 100%;
}

.profile .user-card .user-info p {
    margin: 10px 0;
}

@media screen and (max-width: 1200px) {
    .profile {
        width: 80%;
    }

    .profile .user-card {
        flex-direction: column;
        gap: 2em;
    }

    .profile .user-card img {
        width: 8rem;
        height: 8rem;
    }

}

.gallery-section {
    width: 100%;
    margin: 30px auto;
}

.gallery {
    width: 80%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1em;
}

.gallery img {
    width: 100%;
    height: 16rem;
    object-fit: cover;
    border-radius: 8px;
}